header {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 175px;
    height: 35px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}


.background_loader {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #EAEAEA;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    animation: backloader 3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes backloader {
    0% {
        opacity: 0.8;
    }

    33% {
        opacity: 0.6;
    }

    66% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
    align-items: center;
}

.dot {
    z-index: 1500;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    background-color: #9356DC;
    animation: animloader 500ms infinite alternate;
}

.d2 {
    animation-delay: 200ms;
}

.d3 {
    animation-delay: 400ms;
}

@keyframes animloader {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-30px);
    }
}

.first_block {
    font-family: 'Roboto';
    font-style: normal;
}

.first_block article:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #EAEAEA;
    height: 50px;
    align-items: center;
}

.first_block h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    max-width: 275px;
}

.first_block article:last-child {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F7F7F7;
    height: 287px;
    padding-bottom: 30px;
    text-align: center;
}

.first_block article:last-child p {
    max-width: 315px;
}

.first_block a {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(66, 65, 65, 0.25);
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_block a:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.fonction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.title {
    width: 100%;
    max-width: 335px;
    display: flex;
    justify-content: flex-start;
}

.fonction h2 {
    margin-top: 20px;
}

.fonction div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
    box-sizing: border-box;
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.fonction h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.fonction article {
    width: 90%;
    height: 70px;
    background: #F7F7F7;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fonction i {
    margin-right: 27px;
    margin-left: 35px;
}

.num {
    border-radius: 24px;
    width: 24px;
    height: 21px;
    text-align: center;
    padding-top: 3px;
    margin-left: -13px;
    background-color: #9356DC;
    color: white;
    font-size: 14px;
}

.restaurants {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F7F7F7;
    font-family: 'Roboto';
    font-style: normal;
}

.restaurants h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: -5px;
    margin-top: 20px;
}

.restaurants>div:last-child {
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 335px;
    row-gap: 25px;
}

.restaurants article {
    width: 100%;
    height: 251px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.restaurants article p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

.R1,
.R2,
.R3,
.R4 {
    width: 100%;
    height: 174px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
}

.R1 {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.R2 {
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.R3 {
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.R4 {
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.legende {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.textLegend {
    width: 150px;
}

.heart {
    position: relative;

}

.full-heart {
    position: absolute;
    top: 0;
    left: 0;
}

.full-heart {
    color: #9356DC;
    opacity: 0;
}

.heart:hover>.full-heart {
    animation: fullHeart 800ms forwards;
}

@keyframes fullHeart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        ;
    }
}

.heart:not(:hover)>.full-heart {
    animation: emptyHeart 800ms backwards;
}

@keyframes emptyHeart {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        ;
    }
}

footer {
    background: #353535;
    color: #FFFF;
    height: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 19px;
    padding-left: 5%;
    padding-top: 25px;
    text-align: start;
}

footer h3 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 25px;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer a {
    color: #FFFF;
}

footer a:visited {
    color: #FFFF;
}

footer i {
    margin-right: 10px;
}

@media screen and (min-width: 800px) {

    .first_block h2,
    .first_block article:last-child p {
        width: 100%;
        max-width: none;
    }

    .first_block h2 {
        font-size: 40px;
    }

    .fonction {
        align-items: center;
        justify-content: space-around;
        height: 230px;
        gap: 30px;
    }

    .title {
        width: 94%;
        max-width: 1000px;
    }

    .fonction div:last-child {
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        flex-direction: row;
        width: 94%;
        max-width: 1100px;
        gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .restaurants article {
        max-width: 490px;
        width: 40%;
    }

    .restaurants>div:last-child {
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1100px;
        width: 100%;
        height: 600px;
    }

    .R1,
    .R2,
    .R3,
    .R4 {
        width: 100%;
        max-width: 490px;
    }

    footer {
        height: 115px;
        padding-top: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        gap: 5%;
        padding-right: 5%;
    }

    footer h3 {
        margin-bottom: 0px;
    }

    footer div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        gap: 1px;
        width: 80%;
        max-width: 1000px;
    }

}